.sidebar {
  width: 240px;
  background: #1e1e2d;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .sidebar-header {
    padding: 1rem;
    background: #151521;
    border-bottom: 1px solid #2a2a40;

    h3 {
      margin: 0;
      font-size: 1.2rem;
      color: #f1f1f1;
    }
    small {
      color: #a0a0b2;
    }
  }

  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;

    li {
      a {
        display: flex;
        align-items: center;
        padding: 0.75rem 1rem;
        color: #c2c2da;
        text-decoration: none;
        transition: all 0.2s ease;

        i {
          margin-right: 10px;
          width: 20px;
          text-align: center;
        }

        &:hover,
        &.active {
          background: #2a2a3f;
          color: #fff;
        }
      }
    }
  }

  .sidebar-footer {
    padding: 1rem;
    border-top: 1px solid #2a2a40;
    .logout-btn {
      background: none;
      color: #c2c2da;
      border: none;
      width: 100%;
      text-align: left;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
    }
  }
}
